html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root{
     --primaryColor: rgb(0, 0, 50);
     --secondColor: rgb(196, 113, 4);
}

.formatDiv{
     display: flex;
     flex-direction: column;
}

.heroBar{
     width: 100vw;
     height: 100vh;
     background-color: var(--primaryColor);
     align-items: center;
     justify-content: center;
     flex-direction: column;
     display: flex;
     z-index: 0;
     position: relative;
}

.heroContent{
     width: 100%;
     height: 100%;
     align-items: center;
     flex-direction: column;
     display:flex;
     justify-content: center;
     background-color: transparent;
}

.heroTextContainer{
     height: fit-content;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: var(--primaryColor);
          /* ensure text/buttons are interactive and above background layers */
          position: relative;
          z-index: 3;
     margin-top:auto;
     margin-bottom: auto;
}

.heroButtonsFormat{
     width:100%;
     background-color: var(--primaryColor);
     display: flex;
     flex-direction: row;
     margin-top:5%;
     justify-content: center;
}

.heroText{
     color: white;
     font-weight: 200;
     margin: 0;
     font-family: "Trirong", serif;
     padding: 0;
}

.heroText2{
     color: var(--secondColor);
     font-weight: 700;
     margin: 0;
     background-clip: text;
     font-family: "Trirong", serif;
     padding: 0;
     font-style: italic;
}

.navBar{
     position: flex;
     width: 100vw;
     height: 10vh;
     background-color: var(--secondColor);
     padding: 0;
     margin: 0;
     display: flex;
     flex-direction: row;
     filter:blur(5px);
     z-index: 1;
}

.navBarContent{
     height: 100%;
     width: 100%;
     color:black;
     background-color: transparent;
     z-index: 2;
}

.navBarButton{
     background-color: var(--secondColor);
}

.mainButton{
     padding: 20px;
     background-color: var(--secondColor);
     border-radius: 25%;
     margin-left: 5%;
     margin-right: 5%;
     color: white;
     text-decoration: none;
     transition: background-color 0.8s ease;
     transition: color 0.8s ease;
     cursor:auto;
     position: relative;
     z-index: 5;
}

.mainButton:hover{
     background-color: white;
     color: black;
}

.mainContainer{
     display: flex;
     flex-direction: column;
     background-color: darkgreen;
     height: 100%;
     width: 100vw
}

.centerTextContainer{
     width: 100%;
     justify-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
}

.backgroundLine{
     height:fill;
     width:100%;
     position: absolute;
     background-color: transparent;
     z-index: 4;
     top: 0;
     color: rgb(0, 0, 160)
}
