html, body {
    margin: 0;
    padding: 0;
}


:root{
     --primaryColor: rgb(0, 0, 0);
     --secondColor: rgb(250, 1, 1);
     --backgroundColor: rgb(39, 18, 97);
}

.formatDiv{
     display: flex;
     flex-direction: column;
}

.heroBar{
     width: 100%;
     height: 100vh;
     background-color: var(--primaryColor);
     align-items: center;
     justify-content: center;
     flex-direction: column;
     display: flex;
     z-index: 0;
     position: relative;
}

.heroContent{
     width: 100%;
     height: 100%;
     align-items: center;
     flex-direction: column;
     display:flex;
     justify-content: center;
     background-color: transparent;
}

.heroTextContainer{
     height: fit-content;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: transparent;
          /* ensure text/buttons are interactive and above background layers */
          position: relative;
          z-index: 3;
     margin-top:auto;
     margin-bottom: auto;
}

.heroButtonsFormat{
     width:100%;
     background-color: transparent;
     display: flex;
     flex-direction: row;
     margin-top:5%;
     justify-content: center;
}

.heroText{
     color: white;
     font-weight: 200;
     margin: 0;
     font-family: "Trirong", serif;
     padding: 0;
}

.heroText2{
     color: var(--secondColor);
     font-weight: 700;
     margin: 0;
     background-clip: text;
     font-family: "Trirong", serif;
     padding: 0;
     font-style: italic;
}

#navBar{
     position: fixed;
     width: 100%;
     height: 10vh;
     background-color: transparent;
     padding: 0;
     margin: 0;
     display: flex;
     flex-direction: row;
     z-index: 1;
     transition: all 1s ease;
}

#navBar.scrolled{
     position: fixed;
     background-color: rgba(128, 128, 128, 0.2);
     backdrop-filter:blur(2px);
     width: 80%;
     justify-self: center;
     align-self: center;
     transition: all 1s ease;
     border-radius: 15%;
     margin-top: 15px;
}

.navBarContent{
     height: 100%;
     width: 100%;
     color:rgb(255, 255, 255);
     background-color: transparent;
     display: flex;
     flex-direction: row;
}

.navBarButton{
     display: flex;
     background-color: var(--secondColor);
     margin: 55px;
     padding: 0.75rem 1.5rem;
     justify-content: center;
     align-content: center;
     width: 65px;
     height: 25px;
     margin-top: auto;
     margin-bottom: auto;
}

.mainButton{
     padding: 20px;
     background-color: var(--secondColor);
     border-radius: 25%;
     margin-left: 5%;
     margin-right: 5%;
     color: white;
     text-decoration: none;
     transition: background-color 0.8s ease;
     transition: color 0.8s ease;
     cursor:auto;
     position: relative;
     z-index: 5;
}

.mainButton:hover{
     background-color: white;
     color: black;
     cursor: pointer;
}

.mainContainer{
     display: flex;
     flex-direction: column;
     background-color: var(--backgroundColor);
     height: 100%;
     width: 100%;
     z-index: 1;
     color: white;
}

.aboutMeText{
     width: 100%;
     justify-content: right;
     align-items: center;
     flex-direction: column;
     z-index: 1;
     flex: 1;
     margin-right: 5%;
}

.aboutMeImgContainer{
     display: flex;
     margin-left: 5%;
     height: 100%;
     flex: 1;
     justify-content: center;
     align-items: center;
     border: 15px;
     border-color: black;
}

.aboutMeImg{
     display: flex;
     max-width: 100%;
     height: auto;
     clip-path: circle(50%);
}

.backgroundLine{
     width:99%;
     height: 100%;
     position: absolute;
     background-color: transparent;
     z-index: -4;
     color: rgb(0, 0, 160);
     color: rgb(125, 182, 113);
     font-size: x-large;
     justify-content: center;
     align-items: center;
     text-align: center;
     text-wrap: initial;
     font-family: monospace;
     overflow: hidden;
     opacity: 35%;
}

.logoImg{
     display: flex;
     width: 115px;
     z-index: 1;
}

.logoLink{
     display:flex;
     background-color: transparent;
     width: fit-content;
     height: fit-content;
     justify-self: left;
     align-self: center;
     padding-top: 25px;
     padding-left: 55px;
}

.about_Me{
     width: 100%;
     display: flex;
     flex-direction: row;
     height: fit-content;
     margin-top: 5%;
     margin-bottom: 15%;
}